.first {
    color: white;
    background-color: #f00;
    text-align: right;
}

table {
    border-collapse: collapse;
}

.second {
    color: red;
    background-color: #fbb;
    text-align: center;
}

.red {
    color: red;
    font-weight: bold;
}